body {
    background-color: #f2f2f2;
    height: auto;
    width: auto;
}

html{
    height: auto;
    width: auto;
    overflow-x: hidden;
}

header{
    background-color: #f1eded;
    color: #2a2a2a;
    padding: 0px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 70px;
}
header.dark-mode{
    background-color: #2a2a2a;
    color: #f1eded;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.close{
    display: none;
}

.bilgi{
    text-align: left;
    color: #767676;
}

#OynaButton{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif; /* Güzel bir font */
    font-weight: 700; /* Kalın font */
    color: #f1eded; /* Daha iyi görünmesi için koyu gri renk */
    text-transform: uppercase; /* Büyük harf yapar */
    letter-spacing: 2px; /* Harfler arasında boşluk */
}

#baslik {
    margin-top: 15px;
    font-size: 30px;

    font-family: 'Poppins', sans-serif; /* Güzel bir font */
    font-weight: 700; /* Kalın font */
    color: #2a2a2a; /* Daha iyi görünmesi için koyu gri renk */
    text-transform: uppercase; /* Büyük harf yapar */
    letter-spacing: 2px; /* Harfler arasında boşluk */
}
#baslik.dark-mode{
    color: white;
}
#butonCol{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.preview-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* Profil Resmi Gibi Görsel */
.preview-image {
    width: 100px; /* Sabit genişlik */
    height: 100px; /* Sabit yükseklik */
    object-fit: cover; /* Görselin orantısını bozmadan kesilmesini sağlar */
    border-radius: 50%; /* Yuvarlak hale getirir */
    display: none; /* Başlangıçta gizli */
    border: 3px solid #2a2a2a; /* Resmin etrafında beyaz bir çerçeve */
}

.preview-image.dark-mode{
    border-color: #616161;
}

#myName.dark-mode{
    background-color: #2a2a2a;
    color: #fff;
    border-color: #555;
}
#Uyar label::after{
    background-color: transparent !important;
}

#Uyar label.dark-mode{
    color: white;
}

/* Varsayılan input[type="file"] stili */
input[type="file"] {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  /* Dark Mode için özel stil */
  .dark-mode input[type="file"] {
    background-color: #333; /* Koyu arka plan */
    color: #fff; /* Beyaz yazı */
    border: 1px solid #555; /* Daha koyu çerçeve */
    padding: 2px;
  }
  
  /* Hover ve focus durumları */
  .dark-mode input[type="file"]:hover {
    background-color: #444;
  }
  
  .dark-mode input[type="file"]:focus {
    outline: none;
    border-color: #626262;
  }
  
  /* "Dosya Seç" butonu için özel stil */
  .dark-mode input[type="file"]::-webkit-file-upload-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dark-mode input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #656565;
  }
  
  /* Firefox için */
  .dark-mode input[type="file"]::file-selector-button {
    background-color: #4d4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
  }
  
  .dark-mode input[type="file"]::file-selector-button:hover {
    background-color: #4e4e4e;
  }

  

/* Profil Resmi Gibi Görsel */
.btn-tahminAndSohbet{
    background-color: #c7c7c7;
    color: #f1eded;
    padding: 10px 0px;
    border: 0;
    border-radius: 0;

    font-family: 'Poppins', sans-serif; /* Güzel bir font */
    font-weight: 700; /* Kalın font */
    color: #5555557e;
    text-transform: uppercase; /* Büyük harf yapar */
    letter-spacing: 2px; /* Harfler arasında boşluk */
    border: 1px solid #b8b8b8;

    transition: background-color 0.2s, color 0.2s;
}

.btn-tahminAndSohbet:hover{
    background-color: #b7b7b7;
}
.secilen{
    background-color: #aaaaaa;
    color: #2a2a2a;
}

.btn-tahminAndSohbet.dark-mode{
    background-color: #222;
    color: #f1eded;
    border: 0;

    transition: background-color 0.2s;
}

.btn-tahminAndSohbet.dark-mode:hover{
    background-color: #454545;
}
.secilen.dark-mode{
    background-color: #3d3d3d;
}







/* Id numarasına göre renk */
#NameColor1{
    color: rgb(194, 48, 48);
}
#NameColor2{
    color: rgb(35, 145, 35);
}
#NameColor3{
    color: rgb(95, 95, 226);
}
#NameColor4{
    color: rgb(145, 145, 35);
}
#NameColor5{
    color: rgb(145, 35, 145);
}
#NameColor6{
    color: rgb(35, 145, 145);
}
#NameColor7{
    color: rgb(145, 145, 145);
}
#NameColor8{
    color: rgb(35, 35, 35);
}
#NameColor9{
    color: rgb(84, 166, 163);
}
#NameColor10{
    color: rgb(204, 9, 178);
}
.ServerMessage{
    font-family: 'Arial', sans-serif; /* Alternatif bir font */
    font-weight: 500; /* Font kalınlığı */
}
.ServerMessage .text{
    background-color: transparent;
    font-family: 'Arial', sans-serif; /* Alternatif bir font */
    font-weight: 500; /* Font kalınlığı */
}











/* Genel Konteyner */
.container-fluid {
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* Sol Taraf: Puan Tablosu */
.scoreboard {
    background-color: #f9f9f9;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    width: 22%;
    font-family: 'Arial', sans-serif;
    position: relative;
    padding: 10px 10px;
}

.scoreboard.dark-mode{
    background-color: #222;
    border-radius: 10px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    color: whitesmoke;
    padding: 10px 10px;
}

.score-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.score-list {
    overflow-y: auto;
}

.playerPuan {
    padding: 5px 10px;

    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 8px;
    color: #555;
    font-size: 14px;
    width: 90%;
    margin-right: 10px;
}

.playerPuan.dark-mode{
    background-color: #333;
    color: white;
}

.player {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: background-color 0.3s ease;
    overflow-x: hidden;
}

.player.dark-mode {
    background-color: #262626;
    border: 0px solid #dddddd00;
}

.player:hover {
    background-color: #eee;
}

.player.dark-mode{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.player.dark-mode:hover {
    background-color: #313030;
}

.player-name {
    font-weight: bold;
    color: #2d3e50;
}

.player-score {
    font-weight: bold;
    color: #007bff;
}

/* Sağ Panel (Canvas ve Sohbet) */
.right-panel {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
:root {
    --header-height: 70px;
    --canvas-width: 767px;
    --canvas-height: 448px;
}

/* Canvas Alanı */
.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    width: var(--canvas-width) !important;
    height: var(--canvas-height) !important;
    overflow: hidden;
}

#drawingCanvasPc {
    width: var(--canvas-width);
    height: var(--canvas-height);
    background-color: #fff;
    border-radius: 10px;
}

/* Sohbet Alanı */
.chat-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 767px;
}

.MyCenter{
    display: flex;
    justify-content: center;
    height: calc(100% - 420px);
}

.chat-box {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0px 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.chat-header {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 7px;
    color: #ffc107;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header i {
    font-size: 20px;
}

.chat-messages {
    /*Tahmin ve sohbet butonu : 60px Beyaz yer ile aşşağıdaki yer boşluğu: 19px Chat-Başlığı: 33.5px input: 39px chat ile input arası: 5px input ile aşşağı arası: 8px*/
    height: calc(100vh - var(--header-height) - var(--canvas-height) - 19px - 35.5px - 39px - 5px);
    
    overflow-y: auto;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #222;
    border-radius: 8px;
}

/* Scrollbar Genel Ayarlar */
.chat-messages::-webkit-scrollbar {
    width: 6px !important; /* Kaydırma çubuğu genişliği */
}

/* Scrollbar Track (Arka plan) */
.chat-messages::-webkit-scrollbar-track {
    background: #2e2e2e !important; /* Kaydırma arkaplan rengi */
    border-radius: 10px !important;
}

/* Scrollbar Thumb (Kaydırma çubuğu) */
.chat-messages::-webkit-scrollbar-thumb {
    background: #454545 !important; /* Kaydırma çubuğu rengi */
    border-radius: 10px !important;
}

/* Scrollbar üzerine gelince renk değişimi */
.chat-messages::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}

.message {
    margin-bottom: 5px;
    width: 100%;
    display: inline-block;
}

.user-icon {
    background-color: #ddd;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: #555;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
}

.user-icon.dark-mode {
    background-color: #4e5154;
    color: white;
}

.user-icon-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon-line{
    line-height: 30px;
}

.text {
    display: inline-block;
    background-color: #333;
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 6px;

    border-radius: 8px;
    color: white;
    font-size: 14px;
    max-width: calc(100% - 40px);
    word-wrap: break-word;
    /* yazıların satır arası boşluk az olsun */
    line-height: 1.2;
}

.text b{
    font-size: 10px;
    height: auto;
}

.text .row{
    height: 100%;
}

.chat-input {
    margin: 0;
    display: flex;
    gap: 10px;
}

.chat-input input {
    margin-top: 5px;
    width: 92%;
    padding: 0px 5px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: #444;
    color: white;
}

.chat-input button {
    margin-top: 5px;
    background-color: #ffc107;
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.chat-input button:hover {
    background-color: #ffca28;
}

#mobil-menu-chat-change{
    margin-bottom: 5px;
    height: 50px;
    display: none;
}

.pcMenu{
    display: flex !important;
}
.mobilMenu{
    display: none !important;
}


.player .col-9 .playerPuan p{
    margin: 0px;
}

@media screen and (min-width: 769px){

    #sohbet-chat-box{
        display: block !important;
    }
    
    #tahmin-chat-box{
        display: block !important;
    }
    #chat-container-scor{
        display: none;
    }
    #chat-container-chats{
        width: 100%;
    }
}

.player .col-9 .playerPuan p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player .col-9 .playerPuan #Puan{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 700px){
    /* İsim sığmassa ... koy */
}

@media screen and (max-width: 768px) and (min-width: 540px) {
    .player .col-9 .playerPuan{
        font-size: 12px;
    }
    .chat-messages {
        /*Tahmin ve sohbet butonu : 60px Beyaz yer ile aşşağıdaki yer boşluğu: 19px Chat-Başlığı: 33.5px input: 39px chat ile input arası: 5px input ile aşşağı arası: 8px*/
        height: calc(100vh - var(--header-height) - var(--canvas-height) - 56px - 19px - 35.5px - 39px - 5px);
        
        /*width 100vw - soldaki score tablosunu çıkar*/
        width: calc(100vw - 25vw - 24px - 30px);
    }
}

.player .col .user-icon #Profil{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 540px) {
    
    .chat-messages {
        /*Tahmin ve sohbet butonu : 60px Beyaz yer ile aşşağıdaki yer boşluğu: 19px Chat-Başlığı: 33.5px input: 39px chat ile input arası: 5px input ile aşşağı arası: 8px*/
        height: calc(100vh - var(--header-height) - var(--canvas-height) - 56px - 19px - 35.5px - 39px - 5px);
        
        /*width 100vw - soldaki score tablosunu çıkar*/
        width: calc(100vw - 25vw - 14px);
    }
.scoreboard{
    padding: 0 !important;
}

#chat-container-scor{
    display: block;
    padding: 0px 0px;
}
    .player .col-9 .playerPuan{
        font-size: 10px;
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        max-width: 90%;
    }
    .player .col-9 .playerPuan p{
        margin: 0px;
    }

    .player .col-9 .playerPuan #Puan{
        font-size: 8px;
        background-color: #dbdbdb;
        border-radius: 20px;
        padding: 2px 5px;
        width: fit-content;
    }
    .player .col-9 .playerPuan #Puan span{
        background-color: #b0b0b0;
        border-radius: 20px;
        padding: 1px 3px;
    }
    
    .player .col-9 .playerPuan #Puan.dark-mode{
        background-color: #444;
    }
    .player .col-9 .playerPuan #Puan span.dark-mode{
        background-color: #5c5c5c;
    }
    
    .player .col-9{
        padding-left: 6px;
        height: 31px;
    }
    .player .col{
        width: 25px !important;
        /* Dikey padding ile ortala*/
        
    }
    .player .col .user-icon{
        font-size: 10px;
        height: 25px;
        width: 25px;
    }
    .player .col .user-icon #Profil{
        height: 25px;
        width: 25px;
    }
}

@media screen and (max-width: 350px){
}

/* Responsive Tasarım */
@media screen and (max-width: 768px) and (min-width: 426px) {

    
    .chat-messages {
        /*width 100vw - soldaki score tablosunu çıkar*/
        width: calc(100vw - 25vw - 24px);
    }

.scoreboard {
    width: 100%;
    height: 100%;
}

#sohbet-chat-box{
    display: none;
    width: 100%;
}

#tahmin-chat-box{
    width: 100%;
}

#chat-container-scor{
    display: block;
}

#mobil-menu-chat-change{
    display: grid;
    height: 40px;
}

    .right-panel {
        width: 100%;
    }
    
    #baslik {
        font-size: 20px;
    }
    #theme-toggle {
        font-size: 12px;
    }
    header {
        height: 60px !important;
    }
    :root {
        --header-height: 60px !important;
        --canvas-width: 100vw !important;
        --canvas-height: calc(100vw* .584) !important;
        --canvas-margin: 0 !important;
    }
    .canvas-container {
        width: var(--canvas-width) !important;
        height: var(--canvas-height) !important;
        margin: var(--canvas-margin) !important;
    }
    #drawingCanvasPc {
        width: var(--canvas-width) !important;
        height: var(--canvas-height) !important;
    }
    
.MyCenter{
    display:inline-flex;
    height: 100%;
}

}

/* Responsive Tasarım */
@media screen and (max-width: 426px) {

/* Profil Resmi Gibi Görsel */
.btn-tahminAndSohbet{
    padding: 0px 0px;
}

.chat-box {
    padding: 0px 8px;
}

.MyCenter{
    display:inline-flex;
    height: 100%;
    margin-top: 0;
}

.chats{
    height: calc(100vh - var(--header-height) - var(--canvas-height) - 60px);
}
    
.scoreboard{
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

#sohbet-chat-box{
    display: none;
    width: 100%;
}

#tahmin-chat-box{
    width: 100%;
}

#chat-container-scor{
    display: block;
    padding: 0px 0px;
}

#mobil-menu-chat-change{
    display: grid;
    height: 40px;
}

    .right-panel {
        width: 100%;
    }
    
#baslik {
    font-size: 15px;
}
#theme-toggle {
    font-size: 10px;
}

:root {
    --header-height: 50px !important;
    --canvas-width: 100vw !important;
    --canvas-height: calc(100vw* .584) !important;
    --canvas-margin: 0 !important;
}

header {
    height: var(--header-height) !important;
}

.canvas-container {
    width: var(--canvas-width) !important;
    height: var(--canvas-height) !important;
    margin: var(--canvas-margin) !important;
}
#drawingCanvasPc {
    width: var(--canvas-width) !important;
    height: var(--canvas-height) !important;
}

}

#theme-toggle {
    background-color: #e5e5e5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
#theme-toggle:hover {
    background-color: #d1d1d1;
}

/* Gece Modu */
body.dark-mode {
    background-color: #262626;
    color: white;
  }
  
#theme-toggle.dark-mode {
    background-color: #333;
    color: white;
}
  
#theme-toggle.dark-mode:hover {
    background-color: #454545;
}


#GameMenu {
    height: calc(100vh - var(--header-height));
}

@media screen and (min-width: 1920px) {
    :root {
        --canvas-width: 60vw;
        --canvas-height: calc(60vw* .584);
    }

    /* Canvas Alanı */
    .canvas-container {
        width: var(--canvas-width) !important;
        height: var(--canvas-height) !important;
        overflow: hidden;
    }

    #drawingCanvasPc{
        width: var(--canvas-width) !important;
        height: var(--canvas-height) !important;
    }
    .chat-container {
        width: 60vw;
    }
}